<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User.dao.schoolService.SchoolMapper">
    <insert id="insertScholarShip" parameterType="ScholarShip">
        insert into scholarship(username,sno,sex,level,reason,state) values(#{username},#{sno},#{sex},#{level},#{reason},#{state})
    </insert>
</mapper>    